#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=latam --xlayouts='latam'
# System language
lang es_UY.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$RWANXVVaois4R.sA$aRnEeNa/0i1gX6W4pWeVWhi3scPc8LeNmQooxZlefdDCaBatDO3aigURxcyCFiQ1t.jArnSQ//91uQn4QdEU0.
# System services
services --enabled="chronyd"
# System timezone
timezone America/Montevideo --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
Part pv.157 --fstype="lvmpv" --ondisk=sda --size=50171
volgroup centos --pesize=4096 pv.157
logvol /tmp --fstype="xfs" --size=2052 --name=tmp --vgname=centos
logvol / --fstype="xfs" --size=31732 --name=root --vgname=centos
logvol /var --fstype="xfs" --size=4096 --name=var --vgname=centos
logvol swap --fstype="swap" --size=2048 --name=swap --vgname=centos
logvol /var/lib/mysql --fstype="xfs" --size=1 --grow --name=mysql --vgname=centos

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
